@media screen and (max-width: 1020px) {
   .cabecalho {
      padding: 0;
   }

   .logo-head {
      height: 60px;
      width: auto;
   }

   /*classes gerais*/
   h2.titulo {
      font-size: 34px;
      line-height: 30px;
   }

   .flex {
      flex-direction: column;
   }

   .topo-do-site .flex {
      flex-direction: column-reverse;
   }

   .pablo-perfil {
      width: 80%px;
      margin: 0;
      margin-top: 0;
   }

   /*cabeçalho*/
   .menu-desktop {
      display: none;
   }



   .buttons-port {
      display: none;
   }

   /*Topo do site*/
   section .topo-do-site .flex {
      gap: 40px;
   }

   section.topo-do-site {
      padding: 20px 8%;
   }

   .topo-do-site h1 {
      font-size: 30px;
   }

   /*Especialidades*/
   section .especialidades {
      padding: 40px 8%;
   }

   /*titulo*/
   section.sobre {
      padding: 80px 8%;
   }

   /*sobre*/
   .img-sobre2 {
      width: 100%;
   }

   .sobre .txt-sobre h2 {
      font-size: 34px;
      line-height: 35px;
      text-align: center;
   }

   .btn-social {
      text-align: center;
   }

   /*Portfólio*/
   section.portfolio {
      padding: 80px 8%;

   }

   .img-port {
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
   }

   section.portfolio .flex {
      gap: 60px;
   }

   /*Rodapé*/
   footer .flex {
      flex-direction: column;
      gap: 30px;
   }

   footer .line-footer {
      text-align: center;
   }

}